* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background-color: darkcyan;
  margin: 0;
  height: 100%;
  padding: 10px;

  position: relative;
  top: 50px;

  width: 100%;
}

div > p,
h1 {
  color: antiquewhite;
  padding: 5px;
  text-align: center;
}

div {
  background-color: brown;
  margin: 5px 5px 5px 15px;
  display: flexbox;
  align-items: center;
  width: 50%;

  position: relative;
  left: 25%;
  border-radius: 5px;
}

header {
  background: darkgray;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}
